*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-montserrat), arial, sans-serif;
  font-size: 16px;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(51, 51, 51);
}

header {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

main {
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 5rem;
  left: 0;
}
