.container {
  padding: 1rem;
}

.container h1 {
  color: white;
  font-family: var(--font-rubik-distressed);
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

.container p {
  margin: 1rem 0;
  color: white;
  font-family: var(--font-dancing-script);
  font-size: 1.5rem;
}
