.nav {
  width: 100%;
  height: 5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: rgb(63, 62, 126);
}

.nav ul {
  display: flex;
  gap: 2rem;
}

.nav li {
  list-style: none;
}

.nav a {
  font-family: var(--font-roboto);
  font-size: 1.2rem;
  text-decoration: none;
  color: white;

  transition: all 0.5s ease-in-out;
}

.nav a:hover {
  color: lime;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.nav button {
  margin-left: 20%;
  padding: 0.25rem 0.5rem;

  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(63, 62, 126);
  outline: none;

  transition: all 0.5s ease-in-out;

  border: 1px solid transparent;
  border-radius: 3px;
}

.nav button:hover {
  cursor: pointer;
  color: white;
  border: 1px solid white;
  background-color: rgb(63, 62, 126);
}
